body {
    background-color: #383043;
    font-family: 'Quicksand', sans-serif; 
}

#styleThis{
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#weather{
    text-align: center; 
    font-weight:bold;
    padding-top: 0;
    display:block;
    color: #D1D2D3;
}

#image{
    display: block;
    margin-left: auto;
  margin-right: auto;
}
