#body {
    font-family: 'Quicksand', sans-serif;
}


/*weather style*/

.weatherFont {
    font-size: 5vmin;
    font-weight: normal;
}

.weatherFont#wCondition {
    font-size: 4vmin;
    text-transform: lowercase;
}


/*clock style*/

#box{
    width: 60%;
}

#viewBox{
    padding-top: 12vh;
    padding-bottom:0vh;
    text-align: center;
    font-size: 20vmin;
    font-weight: Bold;
}

#getName{
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 5vmin;
    font-weight: normal;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

#showname{
    width: 100%;
    text-align: center;
    margin-top: -4vmin;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 5vmin;
    font-weight: 500;
    outline: none;
    border: none;
}

/*Focus of the day style*/
#label{
    width: 100%;
    text-align: center;
    padding-top: 0vh;
    padding-bottom:0vh;
    box-sizing: border-box;
    font-size: 5vmin;
}

#dayTask{
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 4vmin;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.taskBox{
    width: 100%;
    padding-top: 0vh;
    padding-bottom:0vh;
    text-align: center;
    box-sizing: border-box;
    font-size: 4vmin;
    font-weight: 500;
    border: none;
    outline: none;
}

#task{
    padding-right: 1%;
    padding-left: 1%;
}

#cross, #plus{
    cursor:pointer;
}

/*Random Quotes*/
.rquotes{
    font-size:2vh;
    text-align: center;
    padding-top:14vh;
}

#newJoke{
    cursor:pointer;
}