/* Start CSS for Random Quotes */
body{
  font-size: 16px;
}
.test{
  background-color: white !important ;
}
.jokeArea{
	text-align:center;
  border-radius: 2px;
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 3%;
}
.contentArea{
  padding-top:15%;
}
.quote{
  font-size: 3.5em;
}
.container-fluid{
  height: 750px;
}
#newJoke{
  font-size: 1.2em;
  color: white;
  border-radius: 8px;
  float:right;
  margin-right: 5%;
  border: none;
  padding: 1.2em;
  margin-bottom: 1.2em;
}

.twitter-share-button{
  float:left;
  width:15%;
  margin-left:5%;
  padding-bottom:1%;
  margin-bottom:1%
}
.buttons{
  padding: .5%;
  background-color: white;

}
/* END CSS for Random Quotes */


/* Start CSS for Code Challenges */
#kataAuthor {
  margin-left: 75%; 
}

#kata-container {
  width: 60%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding: 50px;
}
#getKata {
  margin-top: 20px;
}
/* END CSS for Code Challenges */

/* Start CSS for WeatherApp */
body {
    background-color: #383043;
    font-family: 'Quicksand', sans-serif; 
}

#styleThis{
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#weather{
    text-align: center; 
    font-weight:bold;
    padding-top: 0;
    display:block;
    color: #D1D2D3;
}

#image{
    display: block;
    margin-left: auto;
  margin-right: auto;
}
/* End CSS for WeatherApp */


/* START CSS for Focus of the Day */

input{
	padding:1%;
	border-top:none;
	border-left:none;
	border-right:none;
	outline:none;
	text-align:center;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

.dayTask-container{
	position: absolute;
	width:100%;
	bottom : 10%;
}

#taskDiv, #inputDiv, #title{
	line-height: 2em;
	font-size: 1.5em;
	padding-top: 3%; 
}

#task{
	padding-right: 1%;
	padding-left: 1%;
}

input[type=checkbox] , #cross, #plus{
	cursor:pointer;
}
/* END CSS for Focus of the Day */