#body {
    font-family: 'Quicksand', sans-serif;
}


/*weather style*/

.weatherFont {
    font-size: 5vmin;
    font-weight: normal;
}

.weatherFont#wCondition {
    font-size: 4vmin;
    text-transform: lowercase;
}


/*clock style*/

#box{
    width: 60%;
}

#greets{

}

#viewBox{
    padding-top: 15vh;
    text-align: center;
    font-size: 20vmin;
    font-weight: Bold;
}

#getName{
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 5vmin;
    border: none;
    border-bottom: 1px solid black;
}

#showname{
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 5vmin;
    border: none;
}

