input{
	padding:1%;
	border-top:none;
	border-left:none;
	border-right:none;
	outline:none;
	text-align:center;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

.dayTask-container{
	position: absolute;
	width:100%;
	bottom : 10%;
}

#taskDiv, #inputDiv, #title{
	line-height: 2em;
	font-size: 1.5em;
	padding-top: 3%; 
}

#task-focus{
	padding-right: 1%;
	padding-left: 1%;
}

input[type=checkbox] , #cross, #plus{
	cursor:pointer;
}