input{
	padding:1%;
	border-top:none;
	border-left:none;
	border-right:none;
	outline:none;
	text-align:center;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

body{
	text-align: center;
}