/* Start CSS for Random Quotes */
.random-quote{
    position: fixed;
    width:65%;
    left: 15%;
    bottom:0;
}
.jokeArea{
	text-align:center;
    color: #D1D2D3;
}
.contentArea{
  top: 70%;
}
#newJoke, #newJoke:focus{
  border-radius: 8px;
  float:right;
  margin-right: 15%;
  border: 2px solid #D1D2D3;
  padding: 1%;
  background: none;
  color: #D1D2D3;
  margin-bottom: 3%;
  outline:none;
  cursor:pointer;
}

.twitter-share-button{
  cursor:pointer;
  float:left;
  width:5%;
  margin-left:15%;
}
/* END CSS for Random Quotes */

/* Start CSS for Clock */
#box {
    width: 45%;
    margin: auto;
    font-weight: bold;
    color: #D1D2D3;
}

#view {
    margin-top: 4em;
    font-size: 2em;
    width:90%;
}

#greeting{
    border: none;
    line-height: 2.3em;
    font-size: 2.5em;
}

#showname{
    font-size:2.5em;
    font-weight: bold;
    text-align: center;
    line-height: 2.3em;
}

#getName{
    text-align: center;
    background: transparent;
    border:none;
    outline:none;
    padding: 1%;
}

#getName:focus, #getName:active{
    outline:none;
    border-top:none;
    border-left: none;
    border-right: none; 
}

.hidden{
    display: none;
}
/*End Clock css */

/*Weather CSS */
body, html {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
    
}

.bgImage{
    
    background-size: cover;
    overflow-x:hidden;
    font-family: 'Quicksand', sans-serif;
    background: url('https://source.unsplash.com/random') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
}

#parentdiv{
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    height: 100%;
    width:100%;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
    font-weight:normal;
}


.overlay{
  background-color: rgba(0,0,0,0.5);
}

#styleThis{
    width: 200px;
    height: 100px;
    position: absolute;

    top:0;
    bottom: 40;
    left: 40;
    right: 0;
    margin: auto;
    display:inline-block;
padding-right: 3%;

}

#weather{
    text-align: center;

    padding-top: 5%;
    display:inline-block;
    color: #D1D2D3;
    font-size: 3em;

}

#city{
    text-align: center;
    font-weight: bold;
    display: block;
    color: #D1D2D3;
    text-transform: uppercase;
    margin-top: -15%;
    padding-right: 20px;
}

#image{
    display: inline-block;
    margin-left: auto;
  margin-right: auto;
vertical-align: middle;
padding-bottom:35px;

}

#status{
    width: 100%;
    height: 120px;
    position: absolute;
    overflow: hidden;
    top:40;
    bottom: 0;
    left: 0;
    right: 30;
    margin: auto;
    padding-top:3%;
    padding-left:3%;
    color: #D1D2D3;
}

#description{
     text-transform: capitalize;
}

/* end weather css */

/* focus of the day */
#dayTask{
	padding:1%;
	border-top:none;
	border-left:none;
	border-right:none;
    border-bottom-color: white;
	outline:none;
	text-align:center;
    background: transparent;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

.dayFocus{
	margin-top: 0;
    color: #D1D2D3;
    font-weight: bold;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:45%;
}

#taskDiv, #inputDiv, #title{
	line-height: 1.6em;
	font-size: 1.5em;
	padding-top: 2%; 
}

#task-focus{
	padding-right: 1%;
	padding-left: 1%;
}

input[type=checkbox] , #cross, #plus{
	cursor:pointer;
}

/* end focus of the day CSS */

/* Start CSS for TODO list */

.to-do-app{
  position: absolute;
  width: 25%;
  right:0;
  bottom:0;
}
/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
    
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9; 
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* Style the close button */
.remove {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 40px 5px ;
}

.remove:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    color: white;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
.to-do-app input {
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color:#fff;
    background: transparent;
    border-top:none;
    border-right:none;
    border-left: none;
    border-bottom-color: 1px solid white;
	outline:none;
	text-align:center;
}

/* Style the "Add" button */
.addBtn {
    padding: 1.5%;
    margin: 0 2%;
    width: 12%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: green;
    color: white;
}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}


#delete-div{
    display: none;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

/* End CSS for TODO list */

/* Start CSS for Algorithm challenge */
.algo{
   position: absolute;
   width: 40%;
   top:0;
   left:0;
}

.algo h3{
	color:#d1d2d3;
	margin-left: 8%;
}

#kataAuthor {
  margin-left: 75%; 
}

#kata-container {
  width: 65%;
  margin-top: 5%;
  margin-right: auto;
  margin-left: 2%;
  background-color: transparent;
  color:white;
  padding:2%;
}
#getKata {
  margin-top: 20px;
}

/* End CSS for Algorithm Challenge */


